<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Film Joy</title>
</head>
<body>
  <h1>Film Joy</h1>
  <nav>
    <%= "<p>Signed in as #{username}</p>" if is_user? %>
    <ul>
      <%if is_user?%>
        <li><a href="/users/logout">Logout</a></li>
        <li><a href="/users">Users</a></li>
      <%else%>
        <li><a href="/users/login">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <%end%>
    </ul>
  </nav>
  <%= get_flash %><br/>
  <%= yield %>
</body>
</html>
