<h2>Movie Search</h2>
<form action="/search" method="POST">
  <h3>Search for a movie</h3>
  <input type="text" name="movie_search" placeholder="Search Title"/>
  <input type="submit" value="Submit" />
</form>
