<div class="container">
  <h2>Search for a movie</h2>
    <form class="form-inline" action="/search" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="movie_search" placeholder="Search Title"/>
        <input class="btn btn-primary" type="submit" value="Search" />
      </div>
    </form>
</div>
