<h3>Movies</h3>

<div class='movietable'>
  <%@movies.each do |movie|%>
    <div class='movies'>
      <a href="/movies/<%=movie.id%>">
        <h2><%=movie.title%></h2>
          <form method="post" action="/movies/<%= movie.id %>">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">Delete</button>
          </form>
        <img src="<%=movie.image%>"/>
      </a>
    </div>
  <%end%>
<div>
<a href="/">Back to Home</a>
