<h2>Add Movie</h2>
<form action="/movies" method="POST">
  <input type="text" name="movie[title]" placeholder="Enter Title"/>
  <input type="text" name="movie[genre]" placeholder="Enter Genre"/>
  <input type="text" name="movie[year]" placeholder="Enter Year"/>
  <input type="text" name="movie[synopsis]" placeholder="Enter Synopsis"/>
  <input type="text" name="movie[image]" placeholder="Enter Image URL"/>
  <input type="submit" value="Submit" />
</form>
