<h2>Sign Up</h2>
<form action="/users" method="POST">
  <input type="text" name="email" placeholder="Enter Email"/>
  <input type="text" name="password" placeholder="Enter Password"/>
  <input type="submit" value="Submit" />
</form>
